//Amarelo
$amarelo:#ffc926;

// Azul
$azul: #36538f;
$azul-2: #3678a6;
$azul-3: #005495;
$azul-4: #3b5a9c;
$azul-5: #2c4475;
$azul-6: #24506f;
$azul-7:#1f335d;
$azul-8:#1f3259;
$azul-9:#2e4579;
$azul-10:#3578a5;
$azul-11:#39589e;
$azul-12:#3177a7;
$azul-13:#7387b1;
$azul-14:#4d74c3;

// Branco
$branco: #fff;

//Cinza
$cinza:#333333;
$cinza-2:#e9e9e9;
$cinza-3:#b7b7b7;
$cinza-4:#f1f1f1;
$cinza-5:#d5d5d5;
$cinza-6:#696969;
$cinza-7:#a2a2a2;
$cinza-8:#585858;
$cinza-9:#fafafa;
$cinza-10:#949494;
$cinza-11:#494949;
$cinza-12:#eeeeee;
$cinza-13:#d2d2d2;
$cinza-14:#e3e3e3;
$cinza-15:#545454;
$cinza-16:#666666;
$cinza-17:#e2e2e2;
$cinza-18:#6f6f6f;
$cinza-19:#cfcfcf;
$cinza-20:#ececec;
$cinza-21:#3b3b3b;
$cinza-22:#d1d1d1;
$cinza-23:#b1b1b1;
$cinza-24:#f0f0f0;
$cinza-25:#f3f3f3;
$cinza-26:#e5e5e5;
$cinza-27:#848484;
$cinza-28:#bcbcbc;
$cinza-29:#d5d5d5;
$cinza-30:#7e7e7e;
$cinza-31:#404040;
$cinza-32:#5a5a5a;
$cinza-33:#b2b2b2;
$cinza-34:#d9d9d9;
$cinza-35:#eeeeee;
$cinza-36:#737373;
$cinza-37:#e1dddd;
$cinza-38:#797979;
$cinza-39:#404040;
$cinza-40:#727272;
$cinza-41:#dddddd;
$cinza-42:#545454;
$cinza-43:#c4c4c4;
$cinza-44:#a7a7a7;
$cinza-45:#a1a1a1;
$cinza-46:#b5b5b5;
$cinza-47:#dfdfdf;
$cinza-48:#bdbdbd;
$cinza-49:#dad7d7;

// Laranja
$laranja:#fe7d29;
$laranja-2:#f38031;
$laranja-3:#e4772d;
$laranja-4:#e67b00;
$laranja-5:#f59e6d;
$laranja-6:#cf6f1a;
$laranja-7:#f38030;
$laranja-8:#f58005;
$laranja-9:#e4791a;

// Preto
$preto: #333333;

// Verde
$verde: #338c9c;
$verde-2: #2f8b9d;

//CORES DE ELEMENTOS
$cor-separador: $cinza-2;
$cor-titulo: $azul;
$cor-sub-titulo: $azul-2;
$cor-borda-cinza: $cinza-3;
$cor-borda-azul: $azul;
$cor-pacote-1: $azul-2;
$cor-pacote-2: $verde;
$cor-pacote-transparente: $cinza-2;
$cor-btn-pacote-three: $azul-3;
