section.category-page{
	.col.categoria{
		max-width: 895px;
	}

	.category-info{
		padding: 30px 0;

		.title-princ{
			color: $azul;
			margin-bottom: 15px;
		}

		hr{
			margin: 25px 0;
		}
	}

	.title-princ{
		@include font-size(30px);
	}

	.category-items-list{
		width: 100%;
		&>li{
			max-width: 286px;
			margin-bottom: 60px;
			margin-right: 15px;

			&:nth-child(3n+3){
				margin-right: 0;
			}

			&:last-child{
				margin-right: 0;
			}

			&>.col:first-child{
			}

			&>.col:last-child{
				border-left: 2px solid $cinza-5;
				padding: 3px 0;
		    padding-left: 10px;
			}

			&:hover{
				.category-image{
					img{
						width: 110%;
						transition: all linear .4s;
					}
				}
			}
		}

		.roteiro-pac{
			font-weight: $medium;
			@include font-size(15px);
			margin-bottom: 3px;
		}

		.durac-pac{
			@include font-size(13px);
			margin-bottom: 3px;
		}

		.price-pac{
			@include font-size(15px);
			margin-bottom: 3px;
		}

		.sub-title{
			@include font-size(17px);
			margin-bottom: 5px;
		}

		.category-image{
			position: relative;
			overflow: hidden;
			height: 240px;
			margin-bottom: 10px;

			img{
				max-width: none;
				width: 100%;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50% , -50%);
				transition: all linear .4s;
			}
		}
	}

	.price-box{
		background: $cinza-4;
		min-height: 130px;
		border-radius: 3px;
		overflow: hidden;

		&>.col:first-child{
			max-width: 205px;
		}

		.price-start{
			@include font-size(14px);
			color: $cinza-7;
		}

		.price-value{
			@include font-size(25px);
			color: $cinza-8;

			span{
				@include font-size(46px);
			}
		}

		.button-price{
			@include font-size(20px);
			color: $cinza-9;
			background: $laranja-4;
			padding: 0 35px;
		}
	}
}
