section.home-pacotes{
  .aside{
    max-width: 260px;
  }

  .pacotes{
    max-width: 895px;
    padding-top: 30px;

    .title-princ{
    	text-transform: uppercase;
    	margin-bottom: 20px;
    }

    .pacotes-two{
    	margin-top: 25px;
    	margin-bottom: 35px;
    }

    .pacotes-three{
    	margin-top: 25px;
    	margin-bottom: 35px;
    }
  }
}
