section.search-top{
  padding: 10px 0px;
  background: $cinza-2;

  .call-you{
    max-width: 180px;
    cursor: pointer;
    .call-you-icon{
      max-width: 15px;
    }

    p{
      @include font-size(14px);
      font-weight: $medium;
      color: $azul;
      line-height: 20px;
    }

    span{
      display: block;
      @include font-size(12px);
    }
  }

  .wpp-link{
    max-width: 95px;
    color: $azul;
    font-weight: $medium;
    @include font-size(12px);
    margin-right: 30px;
    cursor: pointer;
  
    .wpp-icon {
      max-width: 20px;
    }

    span {
      font-size: .875rem;
      margin-left: 5px;

      &:last-child {
        @include font-size(12px);
      }
    }
  }

  .chat-link{
    max-width: 105px;
    color: $azul;
    font-weight: $medium;
    @include font-size(14px);
    margin-right: 75px;
  }

  .search-top-box{
    max-width: 585px;

    .search-title{
      max-width: 290px;
      color: $azul;
      font-weight: $bold;
      @include font-size(16px);
      text-transform: uppercase;
    }

    #top-search-form{
      width: 100%;
      max-width: 283px;
    }

    .search-box{
      position: relative;
      width: 100%;
      height: 30px;
      border: solid 1px $cor-borda-cinza;
      border-radius: 2px;
    }

    input{
      position: absolute;
      width: calc(100% - 35px);
      height: 100%;
      left: 0;
      top: 0;
      @include font-size(14px);
      color: $azul;
      font-weight: $medium;
      background: transparent;
      border: none;
      padding: 0px 10px;

      @include placeholder{
        @include font-size(14px);
        color: $azul;
      };
    }

    button{
      position: absolute;
      width: 35px;
      height: 100%;
      right: 0;
      top: 0;
      background: transparent url(../img/search-icon-blue.png) center center no-repeat;
      border: none;
    }
  }

  .blog-cats{
    position: relative;
    max-width: 200px;
    color: $azul;

    &:hover{
      ul{
        max-height: 600px;
        visibility: visible;
        overflow: visible;
        opacity: 1;
        transition: max-height linear 0s, opacity .4s,visibility linear 0s, overflow linear 0s .4s;
      }
    }

    .fa{
      margin-right: 5px;
    }

    .blog-cats-title{
      max-width: 290px;
      font-weight: $bold;
      @include font-size(16px);
      text-transform: uppercase;
    }

    ul{
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background: linear-gradient(to bottom, $laranja-2 0%,$laranja-2 3px,$azul 3px,$azul 100%);
      padding: 0;
      z-index: 10;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: max-height linear 0s .4s, opacity .4s,visibility linear 0s .4s, overflow linear 0s .4s;
    }

    a {
      width: 100%;
      padding: 10px 20px;
      display: block;
      color: #fff;
      border-bottom: solid 1px #fff;
      background: $azul;

      &:hover{
        background: darken($azul, 20%);
      }
    }
  }
}
